.SliderRoot {
	position: relative;
	display: flex;
	align-items: center;
    width: clamp(200px, 20vw, 600px);
    height: 2em;
}
.SliderRoot[data-orientation="vertical"] {
	flex-direction: column;
	width: 20px;
	height: 100px;
}

.SliderTrack {
	position: relative;
	flex-grow: 1;
	background-color: grey;
    height: 3px;
}
.SliderTrack[data-orientation="vertical"] {
	width: 3px;
}

.SliderRange {
	position: absolute;
	background-color: black;
}
.SliderRange[data-orientation="vertical"] {
	width: 100%;
}

.SliderThumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: var(--clr-text);
    border-radius: 50%;
    cursor: pointer;
}

.SliderLabel {
    display: block;
    margin-block: 1em;
}
