.angle-slider__root {
	position: relative;
	display: flex;
	align-items: center;
    width: clamp(200px, 20vw, 600px);
    height: 2em;
}
.angle-slider__root[data-orientation="vertical"] {
	flex-direction: column;
	width: 20px;
	height: 100px;
}

.angle-slider__track {
	position: relative;
	flex-grow: 1;
	background-color: grey;
    height: 3px;
}
.angle-slider__track[data-orientation="vertical"] {
	width: 3px;
}

.angle-slider__range {
    height: 3px;
	position: absolute;
	background-color: black;
}
.angle-slider__range[data-orientation="vertical"] {
	width: 100%;
}

.angle-slider__thumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: var(--clr-text);
    border-radius: 50%;
    cursor: pointer;
}

.angle-slider__label {
    display: block;
    margin-block: 1em;
}
