.base-color {
    box-shadow: 5px -5px 5px 0px #A5A5A5;
    background-color: var(--bg-color);
    border: 3px solid var(--clr-cta);
    border-radius: var(--border-radius);
}

.base-color__title {
    margin-block-end: 1rem;
    padding-inline-start : 0.5em;
    background-color : hsl(from var(--clr-cta) h s calc(l + 20));
    border-radius: 0.3rem 0.3rem 0 0 ;
}

.base-color__body {
    margin-block-end: 1rem;
    padding-inline: 2vw;

}

.base-color__description {
    margin-bottom : 1rem;
}

.base-color__grid {
    display : grid;
    grid-template-columns: var(--swatch-width) 10em;
    align-items: center;
    column-gap: 1rem;
    margin-block-end: 1lh;

}

.base-color__swatch {
    width: var(--swatch-width);
    height: calc(var(--swatch-height) - 2px);
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-border);
}

.base-color__input {
    display: flex;
    flex-direction: column;

    input {
        padding: .5rem;
        border: 3px solid var(--clr-cta);
    }
    label {
        padding-inline-start: 0.25em;
    }
}

.base-color__error {
    color: red;
    font-size : 0.75em;
    font-style: italic;
    height : 2lh;
}
