.base-color {
    box-shadow: 5px -5px 5px 0px var(--clr-box-shadow);
    background-color: var(--clr-bg-near);
    border: 3px solid var(--clr-border);
    border-radius: var(--border-radius);

    /* to allow positioning of the tools */
    position:relative;

    anchor-scope: --clip-notification__anchor;
}

.base-color__title {
    margin-block-end: 1rem;
    padding-inline-start : 0.5em;
    background-color: var(--clr-brand-light);
    border-radius: 0.3rem 0.3rem 0 0 ;
}

.base-color__body {
    margin-block-end: 1rem;
    padding-inline: 2vw;

}

.base-color__description {
    margin-bottom : 1rem;
}

.base-color__grid {
    display : grid;
    grid-template-columns: var(--swatch-width) 10em;
    align-items: center;
    column-gap: 1rem;
    margin-block-end: 1lh;

}

.base-color__swatch {
    width: var(--swatch-width);
    height: calc(var(--swatch-height) - 2px);
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--clr-border);
}

.base-color__input {
    display: flex;
    flex-direction: column;

    input {
        padding: .5rem;
        border: 3px solid var(--clr-border);
    }
    label {
        padding-inline-start: 0.25em;
    }
}

.base-color__error {
    color: var(--clr-error);
    font-size : 0.75em;
    font-style: italic;
    height : 2lh;
}

.base-color__edit {
    &:hover, &:focus-visible {
        cursor: pointer;
        background-color : var(--clr-bg-base);
    }
}

.base-color__link {
    anchor-name: --clip-notification__anchor;
}

.base-color__tools {
    position:absolute;
    bottom: 5px;
    right: 5px;
    display : flex;
    flex-direction: row;
    column-gap: 2em;
    flex-wrap: none;
}

.tool-group.base-color__reset {
    background-color: var(--clr-error);
}
