.color-dialog {
    border: none;
    position: fixed;
    border-radius: var(--border-radius);
    background-color: var(--clr-bg-base);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(700px, 70vw);
    height: min(700px, 80vh);

    anchor-scope: --clip-notification__anchor;


    margin: .5em;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
    }

    input {
        padding-inline-start : .25em;
    }

    label {
        padding-inline-start : .25em;
    }
    button {
        padding-inline : .25em;
    }
}

.color-dialog__save-button:hover, .color-dialog__save-button:focus-visible {
    background-color: var(--clr-bg-base);
}

.color-dialog__color-swatch {
    width: min(75%, 20em);
    height: 5em;
    display: block;
    margin-inline : auto;
    margin-block-end: 2em;

}

.color-dialog__tabs {
    border : var(--border-std);
    margin-block-start : 0.5em;
    padding-block: 0.5em;
}

.color-dialog__tabs-list {
    margin-inline-start: 0.5em;
}

.color-dialog__tabs-trigger {
    padding-inline: 0.25em;
    margin-inline : 0;
    border: none;
    border-radius : 0;
    &:hover, &:focus-visible {
        background-color: var(--clr-brand-light);
    }

    &[data-state = 'active'] {
        border-top: 3px solid var(--clr-brand);
    }

}
