.color-swatch {
    anchor-name: --swatch-anchor;
    anchor-scope: --swatch-anchor;
    border : 1px solid var(--clr-border);
    border-radius: var(--border-radius);
}

.color-swatch__action-grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 100%;
    background-color: transparent;
    opacity : 0%;
    color : inherit;

    &:hover {
        opacity : 100%;
    }

}

.color-swatch__action-button {
    background-color : transparent;
    border: none;
    height : max-content;
    color: inherit;
}

.color-swatch__info {
    position-anchor: --swatch-anchor;
    top: calc(anchor(bottom) - 1em);
    left: calc(anchor(left) - 7em);
    padding: 0.25em 1em 0.25em 0.25em;
    background-color: var(--clr-bg-near);
    color: var(--clr-text);
    border-radius: var(--border-radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-border);

    p {
        user-select: all;
    }
}

.color-swatch__info:popover-open {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
    align-items: center;
}

.color-swatch__color {
    text-align: left;
    align-self: start;
}

.color-swatch__label {
    text-align: right;
}
