.export-dialog {
    border: none;
    position: fixed;
    border-radius: var(--border-radius);
    background-color: var(--clr-bg-base);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(700px, 70vw);
    height: min(700px, 80vh);

    anchor-scope: --clip-notification__anchor;


    margin: .5em;


    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
    }
}

/* the dialog header uses the global.css class .dialog-header */

.export-dialog__content {
    display: grid;
    grid-template-rows : auto auto auto 1fr;


    textarea {
        resize: none;
        padding-inline: 0.5em;
        margin-inline: 0.5em;
        height : 100%;
    }

}

.export-dialog__format {
    display: flex;
    margin-inline: 0.5em;
    margin-block: 0.25em;

}

.export-dialog__prefix {
    margin-inline-start: 0.5em;
    input {
        padding: 0.5em;
        max-width: 10em;
    }
}

.export-dialog__tool-button {
    padding-inline: 0.25em;
    margin-inline : 0;
    border: none;
    border-radius : 0;
    &:hover, &:focus-visible {
        background-color: var(--clr-brand-light);
    }

}

.export-dialog__tool-button--active {
    border-top: 3px solid var(--clr-brand);
}


.export_dialog__copy {
    anchor-name: --clip-notification__anchor;

    position: relative;
    margin-left: auto;
}

