d-none {
    display: none;
}

.hero-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5vw;
    box-shadow: 0 5px 5px 0px var(--clr-box-shadow);
}

.hero-header__avatar {
    display: flex;
    color: var(--clr-brand);
    background-color: hsl(0, 0, 95%);
    height: 40px;
    width: 50px;
    align-content: center;
    justify-content: center;
    border-radius: 2rem;
}

.hero-header__title {
    font-size: 1.75rem;
    text-align: center;
    margin: 0;
}


.theme-switcher {
    margin-left: auto;
    margin-right: .5rem;
    justify-self: end;
    cursor: pointer;
}

.theme-switcher__btn {
    anchor-name: --theme-switcher-anchor;
    display: inline-block;
    vertical-align: text-top;
    align-content: center;
    border-radius: var(--border-radius);
    padding: 0 .5rem;
    height: 2rem;
    background-color: var(--clr-bg-mid);
    color: var(--clr-fg);
    border-color: var(--clr-border);
    border-width: 1px;
    border-style: solid;

    span {
        margin-inline-start: 0.5rem;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    &:hover,
    &:focus-visible {
        background-color: var(--clr-brand-light);
    }

}

.theme-switcher__menu {
    position-anchor: --theme-switcher-anchor;
    margin: unset;
    inset: unset;
    top: anchor(bottom);
    right: anchor(right);
    padding: 0;
    background-color: var(--clr-bg-mid);
    color: var(--clr-fg);
    border-radius: var(--border-radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);

    li {
        margin: 0;
        list-style: none;
        &:hover,
        &:focus-visible {
            background-color: var(--clr-brand-light);
        }
    }

    button {
        background-color: inherit;
        color: inherit;
        border-style: none;


    }

}

.theme-switcher__menu-item-label {
    margin-inline-start: .5rem;
}

.theme-switcher__icon {
    vertical-align: middle;
    color: var(--clr-fg);
    margin-inline-end: .25rem;
}
