.clip-notification {
    position: absolute;

    position-anchor: --clip-notification__anchor;
    bottom : calc(anchor(top) + 0.5em);
    right : calc(anchor(left) - 1em);

    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
    transition-behavior: allow-discrete;

    background-color: var(--clr-bg-near);

    color: var(--clr-text);
    border-radius: var(--border-radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-border);
    padding: 0.25em .5em;
    font-size: 0.75em;
    text-wrap : nowrap;
    box-shadow: 5px -5px 5px 0px var(--clr-box-shadow);
}

.clip-notification--visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
    transition-behavior: allow-discrete;

}
