.split-comp {
    padding-inline : 5vw;
}

.split-comp__description {
    margin-bottom : 1rem;
}

.split-comp__swatch-grid{
    display : grid;
    grid-template-columns: repeat(auto-fit, var(--swatch-width));
    align-items: center;
}

.split-comp__swatch {
    width: var(--swatch-width);
    height: calc(var(--swatch-height) - 2px);
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-border);
}

.split-comp__label {
    height : 1lh;
    text-align: center;
}
