.swatch-group__grid{
    display : grid;
    grid-template-columns: repeat(auto-fit, var(--swatch-width));
    align-items: center;
}

.swatch-group__swatch {
    width: var(--swatch-width);
    height: calc(var(--swatch-height) - 2px);
}

/* try to not double up the border
 * The problem is, with the border radius, you can see a gap at the top left.
*/
/* maybe move to table ?? */
div.swatch-group__output:nth-of-type(n + 2) .swatch-group__swatch {
    border-left : none;
}

.swatch-group__label {
    height : 1lh;
    text-align: center;
}
