.swatch-group__grid{
    display : grid;
    grid-template-columns: repeat(auto-fit, var(--swatch-width));
    align-items: center;
}

.swatch-group__swatch {
    width: var(--swatch-width);
    height: calc(var(--swatch-height) - 2px);
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-border);
}

.swatch-group__label {
    height : 1lh;
    text-align: center;
}
