.main {
    margin-left : clamp(1rem, 5vw, 5rem);
    margin-right : clamp(1rem, 5vw, 5rem);
}

:root {
    --swatch-height : 5rem;
    --swatch-width : 3rem;
}

.app-description {
    margin-block : 2rem;
    font-size : 1.25em;
}

.app__grid {
    display : grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-block-end: 1rem;
    margin-block-start: 2rem;

    @media (max-width: 860px) {
        grid-template-columns: 1fr;
    }
}

.footer {
    text-align : center;

    margin-block : 2rem;
    padding-block : 1rem;
    background-color: var(--clr-bg-mid);
    box-shadow: 0 -5px 5px 0px var(--clr-box-shadow);
}
