.main {
    margin-left : clamp(1rem, 5vw, 5rem);
    margin-right : clamp(1rem, 5vw, 5rem);
}

:root {
    --swatch-height : 5rem;
    --swatch-width : 3rem;
}

.app-description {
    margin-block : 2rem;
    font-size : 1.25em;
}
