.main {
    margin-left : clamp(1rem, 5vw, 5rem);
    margin-right : clamp(1rem, 5vw, 5rem);
}

:root {
    --swatch-height : 5rem;
    --swatch-width : 3rem;
}

.app-description {
    margin-block : 2rem;
    font-size : 1.25em;
}

.footer {
    margin-block : 2rem;
    text-align : center;
    background-color: var(--color-primary);
    color: #fff;
    padding-block : 1rem;

    a {
        color: #fff;
    }
}
