:root {
    --border-radius : .5rem;

    /* THEME VARS */

    --clr-bg-base: hsl(0, 0, 88%);
    --clr-bg-mid: hsl(0, 0, 94%);
    --clr-bg-near: hsl(0, 0, 97%);

    --clr-text: hsl(0, 0, 5%);
    --clr-text-muted: hsl(0, 0, 40%);

    --clr-brand :#2d471e;
    --clr-brand-light: hsl(from var(--clr-brand) h calc(s - 30) calc(l + 45));

    --clr-box-shadow: var(--clr-brand);

    --clr-border : hsl(from var(--clr-bg-base) h s calc(l - 45));

    --clr-error: hsl(from var(--clr-brand-light) 0 calc(s + 40) l);
    --clr-warning: hsl(from var(--clr-brand-light) 30 calc(s + 40) l);
    --clr-success: hsl(from var(--clr-brand-light) h calc(s + 50) l);




}

[data-theme="dark"] {


    --clr-bg-base: hsl(0, 0, 15%);
    --clr-bg-mid: hsl(0, 0, 20%);
    --clr-bg-near: hsl(0, 0, 30%);

    --clr-text : hsl(0, 0, 95%);
    --clr-text-muted: hsl(0, 0, 70%);

    --clr-border : hsl(from var(--clr-bg-base) h s calc(l +10));


}


body {
    background-color : var(--clr-bg-base);
    color : var(--clr-text);

    --border-std : 1px solid var(--clr-border);
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: var(--border-std);
    margin : 0 .25rem;
    color : var(--clr-text);
    background-color : var(--clr-bg-mid);
    accent-color: var(--clr-bg-near);
    color: var(--clr-text);
}

p {
    text-wrap: pretty;
}

body:has(dialog[open]) {
  overflow: hidden;
}

/* Optional: Prevents the page content from jumping when the scrollbar disappears */
html {
  scrollbar-gutter: stable;
}

/**** COMPONENTS ****/
.harmony {
    border: 3px solid var(--clr-border);
    border-radius: var(--border-radius);
    box-shadow: 5px -5px 5px 0px var(--clr-box-shadow);
    background-color: var(--clr-bg-near);
}

.harmony__title {
    margin-block-end: 1rem;
    margin-inline-start : 0.5em;
}

.harmony__body {
    margin-block-end: 1rem;
    padding-inline : 2vw;
}

.harmony__description {
    margin-bottom : 1rem;
}
