:root {
    /* THEME VARS */
    --border-color : black;
    --clr-primary: #2d471e;
    --fg-color : black;
    --bg-color : white;
    --clr-body : #eee;

    --brand-color :#2d471e;
    --accent-color : var(--brand-color);
    /* --clr-cta : hsl(248, 76%, 60%); */
    --clr-cta : hsl(from var(--brand-color) h calc(s - 30) calc(l + 10));

    --border-radius : .5rem;


}

[data-theme="dark"] {
    --clr-primary: #558639;
    --border-color : #dee2e6;
    --fg-color : white;
    --bg-color : #2e343a;
    --accent-color : hsl(98, 76%, 60%);

    --clr-body : #212529;
}


body {
    background-color : var(--clr-body);
    color : var(--fg-color);

    --border-std : 1px solid var(--border-color);
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: var(--border-std);
    margin : 0 .25rem;
    color : var(--fg-color);
    background-color : var(--bg-color);
    accent-color: var(--accent-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
}

p {
    text-wrap: pretty;
}

/**** COMPONENTS ****/
.harmony {
    border : var(--border-std);
    border-radius: var(--border-radius);
    box-shadow: 5px -5px 5px 0px #A5A5A5;
    background-color: var(--bg-color);
}

.harmony__title {
    margin-block-end: 1rem;
    margin-inline-start : 0.5em;
}

.harmony__body {
    margin-block-end: 1rem;
    padding-inline : 2vw;
}

.harmony__description {
    margin-bottom : 1rem;
}
