:root {
    --border-radius : .5rem;

    /* THEME VARS */
    --clr-border : black;

    --clr-bg-base: hsl(0, 0, 88%);
    --clr-bg-mid: hsl(0, 0, 94%);
    --clr-bg-near: hsl(0, 0, 97%);

    --clr-fg: black;

    --clr-brand :#2d471e;
    --clr-brand-light: hsl(from var(--clr-brand) h calc(s - 30) calc(l + 45));
    --clr-cta : hsl(from var(--clr-brand) h calc(s - 30) calc(l + 10));

    --clr-box-shadow: var(--clr-brand);





}

[data-theme="dark"] {
    --clr-border : #dee2e6;


    --clr-bg-base: hsl(0, 0, 15%);
    --clr-bg-mid: hsl(0, 0, 30%);
    --clr-bg-near: hsl(0, 0, 50%);

    --clr-fg : white;


}


body {
    background-color : var(--clr-bg-base);
    color : var(--clr-fg);

    --border-std : 1px solid var(--clr-border);
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: var(--border-std);
    margin : 0 .25rem;
    color : var(--clr-fg);
    background-color : var(--clr-bg-mid);
    accent-color: var(--clr-bg-near);
    color: var(--clr-fg);
}

p {
    text-wrap: pretty;
}

/**** COMPONENTS ****/
.harmony {
    border: 3px solid var(--clr-cta);
    border-radius: var(--border-radius);
    box-shadow: 5px -5px 5px 0px var(--clr-box-shadow);
    background-color: var(--clr-bg-near);
}

.harmony__title {
    margin-block-end: 1rem;
    margin-inline-start : 0.5em;
}

.harmony__body {
    margin-block-end: 1rem;
    padding-inline : 2vw;
}

.harmony__description {
    margin-bottom : 1rem;
}
